@charset "UTF-8";
/*
.logo{
	display:table; 
	margin-left:auto; 
	margin-right:auto; 
 }
*/

.top{
	display:table; 
	margin-left:auto; 
	margin-right:auto;
}
.harrylogo{
	width:600px; height:400px;
}
